
<aside>
    <button type="button" class="btn btn-primary boton1">Registrar Negocio</button>
    
    
    <button type="button" class="btn btn-primary boton1">Registrar Oferta</button>

    
    <button type="button" class="btn btn-primary boton1">Listar Negocio</button>
   
    
    <button type="button" class="btn btn-primary boton1">Listar Oferta</button>
   
    
    <button type="button" class="btn btn-primary boton1">Salir</button>
</aside>
<div class="contenedor">
    <app-registrar></app-registrar>
    <!-- <app-registrar-negocio></app-registrar-negocio> -->
    <!-- <app-listar-persona></app-listar-persona> -->
</div>
