.container {
    background: #ffffff61;
    margin-top: 12%;
    margin-left: 2%;
    height: 74%;
    padding-top: 6%;
    padding-left: 6%;
    font-family: 'Anton', sans-serif;
}
.h1, h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #1d2124;
    margin-bottom: 4%;
}
.fondo{
    background-image: url('../../../assets/img/fondo.jpg');
    background-size: cover;
    height: 100vh;
    
  }