<table class="table table-striped">
  <thead class="thead-dark">
    <th scope="col">Producto</th>
    <th scope="col">Detalle</th>
    <th scope="col">Valor</th>
    <th scope="col">Descuento</th>
    <th scope="col">Foto</th>
    <th scope="col">Fecha de inicio</th>
    <th scope="col">Fecha final</th>
    <th scope="col">Eliminar</th>
    <th scope="col">Editar</th>
  </thead>
  <tbody>
    <tr *ngFor="let ofer of ofertas_correctas; let i = index">
      <td><label >{{ofer.producto}}</label></td>
      <td><label >{{ofer.detalle}}</label></td>
      <td><label >{{ofer.valor}}</label></td>
      <td><label >{{ofer.descuento}}</label></td>
      <td><img src={{ofer.foto}} width="200px" height="200px" alt=""></td>
      <!-- <td><label >{{ofer.foto}}</label></td> -->
      <td><label >{{ofer.fecha_inicio}}</label></td>
      <td><label >{{ofer.fecha_final}}</label></td>
      <td><button (click)="eliminar(ofer.id)" class="btn btn-danger" >Eliminar</button></td>
      <td><button  class="btn btn-primary" (click)="editar(i)">Editar</button></td>
    </tr>
  </tbody>
</table>


