<table class="table table-striped">
  <thead class="thead-dark">
    <th scope="col">ID</th>
    <th scope="col">Producto</th>
    <th scope="col">Detalle</th>
    <th scope="col">Valor</th>
    <th scope="col">Descuento</th>
    <th scope="col">Foto</th>
    <th scope="col">ID Negocio</th>
    <th scope="col">Fechar Inicio</th>
    <th scope="col">Fecha Final</th>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas.persona; let i = index">
      <td><label >{{persona.nombre}}</label></td>
      <td><label >{{persona.apellidos}}</label></td>
      <td><label >{{persona.correo}}</label></td>
      <td><label >{{persona.telefono}}</label></td>
      <td><label >{{persona.genero}}</label></td>
      <td><label >{{persona.rol}}</label></td>
      <td><label >{{persona.ciudad}}</label></td>
      <td><button>Eliminar</button></td>
      <td><button>Editar</button></td>
    </tr>
  </tbody>
</table>


