<div class="contenedor">
  <form [(formGroup)]="forma" (ngSubmit)="guardar()">
    <div class="form-row">
      <div class="form-group col-md-6 ">
        <label for="inputAddress">Nombre</label>
        <input formControlName="nombre" name="nombre" type="text" class="form-control">
      </div>
      <div class="form-group col-md-6 ">
        <label for="inputAddress">Apellidos</label>
        <input formControlName="apellidos" name="apellidos" type="text" class="form-control">
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword4">Contraseña</label>
        <input formControlName="contrasena" name="contrasena" type="password" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Confirmar contraseña</label>
        <input formControlName="confirmacion" name="confirmacion" type="password" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress2">Telefono</label>
        <input formControlName="telefono" name="telefono" type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress2">ciudad</label>
        <input formControlName="ciudad" name="ciudad" type="text" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputState">Genero</label>
        <select formControlName="genero" name="genero" class="form-control">
          <option>Masculino</option>
          <option>Femenino</option>
          <option>Otro</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Aceptar</button>
  </form>
  <div *ngIf="error" class="alert alert-danger">
    <strong>Error!</strong>{{Mensaje}}
  </div>
  <div *ngIf="exito" class="alert alert-success">
    <strong>Success!</strong> Registro exitoso
  </div>

</div>